Flask==3.1.2
pypdf
python-docx
openpyxl
Pillow
exifread
whois
reportlab
requests
googlesearch-python
python-dotenv
psycopg2-binary
gunicorn
# Optional libraries if needed
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
idna
itsdangerous
Jinja2
MarkupSafe
soupsieve
typing_extensions
urllib3
Werkzeug